// Variáveis
@main-color: #3e9eb7;
@white: #fff;
@gray-text: #9c9c9c;
@gray-light: #f9f9f9;
@gray-dark: #292929;
@gray-footer: #696969;
@center: center;
@radius: 20px;
@left: left;
@right: right;
@up: uppercase;
@arrow-width: 50px;


@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-UltraLight.otf');
  unicode-range: U+0020-2248;
}
// Definições
.main-font {
	font-family: 'Montserrat', sans-serif;
}
.main-font-light {
	font-family: 'Montserrat-Light', sans-serif;
}
// Estilo
body {
	.main-font;
}

.navbar-default {
	background: -moz-linear-gradient(top,  #84a2a9 0%, rgba(73, 113, 123,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #84a2a9 0%,rgba(73, 113, 123,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #84a2a9 0%,rgba(73, 113, 123,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#527a86', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    border: none;
    height: 170px;
    padding-top: 25px;
}
.navbar-nav {
    margin-top: 8px;
    font-size: 12px;
}
.navbar .navbar-nav>li>a {
	color: @white;
    letter-spacing: 2px;
	text-transform: @up;
		&:hover, &:focus {
    		color: @gray-dark;
    	}
}
.main-menu {
	margin-left: 100px;
}
.navbar .navbar-right>li {
	border: solid 1px @white;
    height: 45px;
    margin-right: 15px;
    width: 45px;
    	a {
		    font-size: 18px;	
		    line-height: 45px;
    		margin: 0 auto;
		    padding: 0;
		    text-align: @center;
	        width: 18px;
	        	&:hover, &:focus {
	        		color: @gray-dark;
	        	}
    	}
}
.logo {
    max-width: 210px;
}
.btn {
	background-color: transparent;
	border: solid 1px @white;
    border-radius: @radius;
	color: @white;
    padding: 10px 20px;
    	 &:hover, &:focus {
    	 	background-color: @white;
    	 	color: @main-color
    	 }
    	 &:active {
    	 	box-shadow: none;
    	 }
}
.top-full {
	background-position: @center;
	background-size: cover;
	height: 100vh;
}
.caption {
	text-align: @right;
    margin-top: 50%;
	color: @white;
	p {
		.main-font-light;
		float: right;
		letter-spacing: 1px;
	    margin-bottom: 25px;
	    width: 80%;
	}
}
h1 {
    line-height: 44px;
    font-size: 50px;
	font-weight: bold;
    margin-bottom: 25px;
		small {
			color: @white;
		}
}
.down {
    bottom: -100px;
    position: absolute;
    left: calc(~'50% - (@{arrow-width}/2)');
    a {
	    color: @white;
	    font-size: 40px;
	    width: @arrow-width;
    }
}
.single-topic {	
    background-color: @white;
    border-radius: 5px;
    margin-top: -50px;
	padding: 100px 30px 30px 30px;
	text-align: @center;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
}